@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin 'tailwind-scrollbar';

@theme {
  --color-ourblack: #383838;
  --color-ourwhite: #d9d9d9;
  --color-ourgray: #cccccc;
  --color-ourblue: #0000ff;
  --font-*: initial;
  --font-neighbor: "neighbor", sans-serif;
  --font-robotech: "robotech", sans-serif;
  --font-changa: "changa", sans-serif;

  /* COLOR DESIGN SYSTEM */
  --color-white: #f0f0f0;
  /* BLUE */
  --color-gray-400: #4f5d6e;
  --color-gray-800: #182636;
  --color-blue-100: #b3c9e3;
  --color-blue-200: #6794c7;
  --color-blue-250: #3ab0ca;
  --color-blue-300: #3f5daa;
  --color-blue-350: #143861;
  --color-blue-400: #171f74;
  --color-blue-450: #0a2a4d;
  --color-blue-500: #030d35;
  /* purple */
  --color-purple-100: #c3b8ea;
  --color-purple-200: #8872d5;
  --color-purple-300: #4d2cc1;
  --color-purple-400: #331d80;
  --color-purple-500: #190e40;
  /* butTON */
  --color-button-bg: #072547;
  --color-button-text: #85fff5;
  /* border */
  --color-purple-border: #441e96;
}
.mycontainer {
  @apply container right-0 left-0 mx-auto lg:px-8 md:px-28 px-8  xl:px-24 transition-all duration-300;
}

.text-glow {
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.6);
}

.comingsoonbg {
  background: linear-gradient(180deg, #0b0335 29.78%, #19217c 80%), #fff;
}
.timelinebg {
  background: linear-gradient(180deg, #0a2a4d 0%, #092749 100%);
}

.timelinecontainer {
  @apply md:px-20 container mx-auto px-4 right-0 left-0;
}

.specialprizebg {
  background: linear-gradient(180deg, #092749 0%, #09184d 100%);
}

.textprizeglow {
  text-shadow: 0px 0px 39.268px #8872d5;
}
.textprizeglowbanget {
  border-radius: 1919px;
  background: radial-gradient(46.69% 50% at 50% 50%, #32378e 0%, #091e4c 100%);
  mix-blend-mode: lighten;
}

.herocontainer {
  @apply container right-0 left-0 mx-auto lg:px-8 md:px-28 px-8  xl:px-64;
}

.bgfaq {
  background: linear-gradient(
    180deg,
    #09184d 0%,
    #1f094d 72.56%,
    #220c47 95.07%
  );
}

.eventbg {
  background-image: url("../assets/img/event/eventbg.svg");
  @apply bg-bottom bg-cover;
}

@keyframes bounce-down {
  0% {
    transform: translateY(-20%);
  }
  20% {
    transform: translateY(10%);
  }
  40% {
    transform: translateY(-5%);
  }
  60% {
    transform: translateY(3%);
  }
  80% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-bounce-down {
  animation: bounce-down 0.6s ease-out;
}

.guidebg {
  background: linear-gradient(180deg, #0f164c 0%, #1c073c 100%);
}
.loading-spinner {
  @apply border-4 rounded-full w-12 h-12 border-purple-100 border-t-blue-300 animate-spin mx-auto;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.4 0.1 260);
  --foreground: oklch(1 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.4 0.05 260);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

.table-custom {
  @apply bg-background;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
