@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@theme {
  --color-ourblack: #383838;
  --color-ourwhite: #d9d9d9;
  --color-ourgray: #cccccc;
  --color-ourblue: #0000ff;
  --font-*: initial;
  --font-neighbor: "neighbor", sans-serif;
  --font-robotech: "robotech", sans-serif;
  --font-changa: "changa", sans-serif;

  /* COLOR DESIGN SYSTEM */
  --color-white: #f0f0f0;
  /* BLUE */
  --color-gray-400: #4f5d6e;
  --color-gray-800: #182636;
  --color-blue-100: #b3c9e3;
  --color-blue-200: #6794c7;
  --color-blue-250: #3ab0ca;
  --color-blue-300: #3f5daa;
  --color-blue-350: #143861;
  --color-blue-400: #171f74;
  --color-blue-450: #0a2a4d;
  --color-blue-500: #030d35;
  /* purple */
  --color-purple-100: #c3b8ea;
  --color-purple-200: #8872d5;
  --color-purple-300: #4d2cc1;
  --color-purple-400: #331d80;
  --color-purple-500: #190e40;
  /* butTON */
  --color-button-bg: #072547;
  --color-button-text: #85fff5;
  /* border */
  --color-purple-border: #441e96;
}
.mycontainer {
  @apply container right-0 left-0 mx-auto lg:px-8 md:px-28 px-8  xl:px-24 transition-all duration-300;
}

.text-glow {
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.6);
}

.comingsoonbg {
  background: linear-gradient(180deg, #0b0335 29.78%, #19217c 80%), #fff;
}
.timelinebg {
  background: linear-gradient(180deg, #0a2a4d 0%, #092749 100%);
}

.timelinecontainer {
  @apply md:px-20 container mx-auto px-4 right-0 left-0;
}

.specialprizebg {
  background: linear-gradient(180deg, #092749 0%, #09184d 100%);
}

.textprizeglow {
  text-shadow: 0px 0px 39.268px #8872d5;
}
.textprizeglowbanget {
  border-radius: 1919px;
  background: radial-gradient(46.69% 50% at 50% 50%, #32378e 0%, #091e4c 100%);
  mix-blend-mode: lighten;
}

.herocontainer {
  @apply container right-0 left-0 mx-auto lg:px-8 md:px-28 px-8  xl:px-64;
}

.bgfaq {
  background: linear-gradient(
    180deg,
    #09184d 0%,
    #1f094d 72.56%,
    #220c47 95.07%
  );
}

.eventbg {
  background-image: url("../assets/img/event/eventbg.svg");
  @apply bg-bottom bg-cover;
}

@keyframes bounce-down {
  0% {
    transform: translateY(-20%);
  }
  20% {
    transform: translateY(10%);
  }
  40% {
    transform: translateY(-5%);
  }
  60% {
    transform: translateY(3%);
  }
  80% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-bounce-down {
  animation: bounce-down 0.6s ease-out;
}

.guidebg {
  background: linear-gradient(180deg, #0f164c 0%, #1c073c 100%);
}
